@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

@font-face {
  font-family: "linja-pona";
  src: url("../font/linja-pona-4.1.woff") format("woff");
}

:root {
  --main-color: #333;
  --text-color: #f4f4f4;
  --text-font: Montserrat;
  --toki-font: linja-pona;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--main-color);
  color: var(--text-color);
  font-family: var(--text-font);
}

.title {
  font-size: 1.4rem;
  padding: 1rem;
}

.tiny {
  display: none;
}

.directions {
  font-weight: 500;
  padding-top: 0.7rem;
  padding-bottom: 12px;
}

.question {
  font-size: 6rem;
  padding: 1.2rem;
}

/* TEMPORARY NO SHOW */
#tp-word,
#en-word {
  display: none;
}

.choice {
  padding: 1rem;
  border-top: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  width: 45%;
  margin: auto;
  list-style-type: none;
  cursor: pointer;
}

.choice-3 {
  border-bottom: 1px solid var(--text-color);
}

.choice:hover {
  background-color: var(--text-color);
  color: var(--main-color);
}

.buttons {
  /* padding: 0.1rem; */
  margin: 3rem;
}

.btn-next,
.btn-settings {
  background-color: #afe632;
  background: linear-gradient(to bottom, #afe632 5%, #77a809 100%);
  border-radius: 6px;
  border: 1px solid #afe632;
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  color: var(--text-color);
  cursor: pointer;
  font-size: 3rem;
  outline: none;
  padding: 6px 24px;
  text-shadow: 0px 1px 0px #528009;
  width: 10rem;
}

.btn-next:hover,
.btn-settings:hover {
  background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  background-color: #77a809;
}

.btn-next:active,
.btn-settings:active {
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color: #89c403;
  border-radius: 6px;
  border: 1px solid #74b807;
  cursor: pointer;
  color: var(--text-font);
  padding: 6px 24px;
  text-shadow: 0px 1px 0px #528009;
}

.btn-settings {
  font-size: 1.7rem;
}

.radio-settings,
.glyph-display-setting,
.question-display-settings {
  display: grid;
  padding-bottom: 0.7rem;
  /* justify-items: center; */
  font-size: 1.2rem;
}

.radio-settings {
  display: none;
}

.scoreboard {
  padding: 1rem;
  font-size: 2rem;
  border: 1px solid var(--text-color);
  width: 45%;
  margin: auto;
}

/* this class renders glyphs */
.tp-glyphs {
  font-family: var(--toki-font);
  font-feature-settings: "liga" 1, " clig " 1, "calt" 1, " kern " 1, "mark" 1;
  text-rendering: optimizeLegibility;
}

.center {
  text-align: center;
}

footer {
  padding-top: 1rem;
  padding-bottom: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
}

/*  *****************   MEDIA QUERIES    ****************************** */
@media (max-height: 870px) {
  footer {
    position: relative;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .tiny {
    display: none;
  }

  footer {
    position: relative;
  }
}
/* iPad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .title {
    font-size: 1rem;
    padding: 0.5rem;
    padding-bottom: 0;
  }

  .directions {
    display: none;
  }

  .question {
    padding: 0.8rem;
    padding-top: 0;
  }

  .choice {
    padding: 0.8rem;
    width: 33%;
  }

  .buttons {
    padding: 1rem;
    margin: 1rem;
    padding-bottom: 12px;
  }

  .radio-settings {
    display: inline-block;
    margin-left: 38%;
    padding-bottom: 1rem;
    font-size: 1rem;
  }

  /* .rdo {
    padding-left: 2rem;
  } */

  .scoreboard {
    padding: 0.4rem;
    font-size: 1.5rem;
    width: 33%;
    margin: auto;
  }
}

/* Galaxy S5 Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (orientation: portrait) {
  .title {
    font-size: 0.8rem;
    padding: 0.5rem;
    padding-bottom: 0;
  }

  .directions {
    display: none;
  }

  .question {
    font-size: 6rem;
    padding: 1rem;
    padding-top: 0;
  }

  .choice {
    padding: 0.5rem;
  }

  .buttons {
    padding: 0.5rem;
    margin: 0.5rem;
  }

  .btn_next {
    font-size: 1.7rem;
  }

  .radios {
    display: inline-block;
    margin-left: 15%;
    padding-bottom: 1rem;
    font-size: 1.2rem;
  }
  /* 
  .rdo {
    padding-left: 2rem;
  } */

  .scoreboard {
    padding: 0.6rem;
    font-size: 1.6rem;
    width: 85%;
    margin: auto;
  }
}

/* Galaxy S5 Landscape */
@media screen and (device-width: 640px) and (device-height: 360px) and (orientation: landscape) {
  .title {
    visibility: hidden;
  }

  .tiny {
    visibility: visible;
    display: block;
  }

  .directions,
  .question,
  .choice,
  .buttons,
  .radio-settings,
  .scoreboard {
    display: none;
  }

  footer {
    padding-top: 4.5rem;
    position: relative;
  }
}
